# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/
ios/
linux/
web/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
build/app/generated/not_namespaced_r_class_sources/debug/r/androidx/activity/R.java
build/app/generated/not_namespaced_r_class_sources/debug/r/androidx/core/R.java
build/app/generated/not_namespaced_r_class_sources/debug/r/androidx/customview/R.java
build/app/generated/not_namespaced_r_class_sources/debug/r/androidx/fragment/R.java
build/app/generated/not_namespaced_r_class_sources/debug/r/androidx/loader/R.java
build/app/generated/not_namespaced_r_class_sources/debug/r/androidx/viewpager/R.java
build/app/intermediates/blame/res/debug/multi-v2/debug.json
build/app/intermediates/blame/res/debug/multi-v2/values-af.json
build/app/intermediates/blame/res/debug/multi-v2/values-am.json
build/app/intermediates/blame/res/debug/multi-v2/values-ar.json
build/app/intermediates/blame/res/debug/multi-v2/values-as.json
build/app/intermediates/blame/res/debug/multi-v2/values-az.json
build/app/intermediates/blame/res/debug/multi-v2/values-b+sr+Latn.json
build/app/intermediates/blame/res/debug/multi-v2/values-be.json
build/app/intermediates/blame/res/debug/multi-v2/values-bg.json
build/app/intermediates/blame/res/debug/multi-v2/values-bn.json
build/app/intermediates/blame/res/debug/multi-v2/values-bs.json
build/app/intermediates/blame/res/debug/multi-v2/values-ca.json
build/app/intermediates/blame/res/debug/multi-v2/values-cs.json
build/app/intermediates/blame/res/debug/multi-v2/values-da.json
build/app/intermediates/blame/res/debug/multi-v2/values-de.json
build/app/intermediates/blame/res/debug/multi-v2/values-el.json
build/app/intermediates/blame/res/debug/multi-v2/values-en-rAU.json
build/app/intermediates/blame/res/debug/multi-v2/values-en-rCA.json
build/app/intermediates/blame/res/debug/multi-v2/values-en-rGB.json
build/app/intermediates/blame/res/debug/multi-v2/values-en-rIN.json
build/app/intermediates/blame/res/debug/multi-v2/values-en-rXC.json
build/app/intermediates/blame/res/debug/multi-v2/values-es-rUS.json
build/app/intermediates/blame/res/debug/multi-v2/values-es.json
build/app/intermediates/blame/res/debug/multi-v2/values-et.json
build/app/intermediates/blame/res/debug/multi-v2/values-eu.json
build/app/intermediates/blame/res/debug/multi-v2/values-fa.json
build/app/intermediates/blame/res/debug/multi-v2/values-fi.json
build/app/intermediates/blame/res/debug/multi-v2/values-fr-rCA.json
build/app/intermediates/blame/res/debug/multi-v2/values-fr.json
build/app/intermediates/blame/res/debug/multi-v2/values-gl.json
build/app/intermediates/blame/res/debug/multi-v2/values-gu.json
build/app/intermediates/blame/res/debug/multi-v2/values-hi.json
build/app/intermediates/blame/res/debug/multi-v2/values-hr.json
build/app/intermediates/blame/res/debug/multi-v2/values-hu.json
build/app/intermediates/blame/res/debug/multi-v2/values-hy.json
build/app/intermediates/blame/res/debug/multi-v2/values-in.json
build/app/intermediates/blame/res/debug/multi-v2/values-is.json
build/app/intermediates/blame/res/debug/multi-v2/values-it.json
build/app/intermediates/blame/res/debug/multi-v2/values-iw.json
build/app/intermediates/blame/res/debug/multi-v2/values-ja.json
build/app/intermediates/blame/res/debug/multi-v2/values-ka.json
build/app/intermediates/blame/res/debug/multi-v2/values-kk.json
build/app/intermediates/blame/res/debug/multi-v2/values-km.json
build/app/intermediates/blame/res/debug/multi-v2/values-kn.json
build/app/intermediates/blame/res/debug/multi-v2/values-ko.json
build/app/intermediates/blame/res/debug/multi-v2/values-ky.json
build/app/intermediates/blame/res/debug/multi-v2/values-lo.json
build/app/intermediates/blame/res/debug/multi-v2/values-lt.json
build/app/intermediates/blame/res/debug/multi-v2/values-lv.json
build/app/intermediates/blame/res/debug/multi-v2/values-mk.json
build/app/intermediates/blame/res/debug/multi-v2/values-ml.json
build/app/intermediates/blame/res/debug/multi-v2/values-mn.json
build/app/intermediates/blame/res/debug/multi-v2/values-mr.json
build/app/intermediates/blame/res/debug/multi-v2/values-ms.json
build/app/intermediates/blame/res/debug/multi-v2/values-my.json
build/app/intermediates/blame/res/debug/multi-v2/values-nb.json
build/app/intermediates/blame/res/debug/multi-v2/values-ne.json
build/app/intermediates/blame/res/debug/multi-v2/values-nl.json
build/app/intermediates/blame/res/debug/multi-v2/values-or.json
build/app/intermediates/blame/res/debug/multi-v2/values-pa.json
build/app/intermediates/blame/res/debug/multi-v2/values-pl.json
build/app/intermediates/blame/res/debug/multi-v2/values-pt-rBR.json
build/app/intermediates/blame/res/debug/multi-v2/values-pt-rPT.json
build/app/intermediates/blame/res/debug/multi-v2/values-pt.json
build/app/intermediates/blame/res/debug/multi-v2/values-ro.json
build/app/intermediates/blame/res/debug/multi-v2/values-ru.json
build/app/intermediates/blame/res/debug/multi-v2/values-si.json
build/app/intermediates/blame/res/debug/multi-v2/values-sk.json
build/app/intermediates/blame/res/debug/multi-v2/values-sl.json
build/app/intermediates/blame/res/debug/multi-v2/values-sq.json
build/app/intermediates/blame/res/debug/multi-v2/values-sr.json
build/app/intermediates/blame/res/debug/multi-v2/values-sv.json
build/app/intermediates/blame/res/debug/multi-v2/values-sw.json
build/app/intermediates/blame/res/debug/multi-v2/values-ta.json
build/app/intermediates/blame/res/debug/multi-v2/values-te.json
build/app/intermediates/blame/res/debug/multi-v2/values-th.json
build/app/intermediates/blame/res/debug/multi-v2/values-tl.json
build/app/intermediates/blame/res/debug/multi-v2/values-tr.json
build/app/intermediates/blame/res/debug/multi-v2/values-uk.json
build/app/intermediates/blame/res/debug/multi-v2/values-ur.json
build/app/intermediates/blame/res/debug/multi-v2/values-uz.json
build/app/intermediates/blame/res/debug/multi-v2/values-v16.json
build/app/intermediates/blame/res/debug/multi-v2/values-v21.json
build/app/intermediates/blame/res/debug/multi-v2/values-vi.json
build/app/intermediates/blame/res/debug/multi-v2/values-zh-rCN.json
build/app/intermediates/blame/res/debug/multi-v2/values-zh-rHK.json
build/app/intermediates/blame/res/debug/multi-v2/values-zh-rTW.json
build/app/intermediates/blame/res/debug/multi-v2/values-zu.json
build/app/intermediates/blame/res/debug/multi-v2/values.json
build/app/intermediates/blame/res/debug/single/debug.json
build/app/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/AndroidManifest.xml
build/app/intermediates/flutter/debug/.last_build_id
build/app/intermediates/flutter/debug/flutter_build.d
build/app/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/flutter_assets/NOTICES
build/app/intermediates/flutter/debug/flutter_assets/vm_snapshot_data
build/app/intermediates/flutter/debug/flutter_assets/fonts/MaterialIcons-Regular.otf
build/app/intermediates/flutter/debug/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/app/intermediates/incremental/mergeDebugResources/compile-file-map.properties
build/app/intermediates/incremental/mergeDebugResources/merger.xml
build/app/intermediates/instant_app_manifest/debug/AndroidManifest.xml
build/app/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/app/intermediates/merged_assets/debug/out/flutter_assets/isolate_snapshot_data
build/app/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
build/app/intermediates/merged_assets/debug/out/flutter_assets/NOTICES
build/app/intermediates/merged_assets/debug/out/flutter_assets/vm_snapshot_data
build/app/intermediates/merged_assets/debug/out/flutter_assets/fonts/MaterialIcons-Regular.otf
build/app/intermediates/merged_assets/debug/out/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/app/intermediates/merged_manifests/debug/AndroidManifest.xml
build/app/intermediates/processed_res/debug/processDebugResources/out/resources-debug.ap_
build/app/intermediates/res/merged/debug/drawable_notification_bg_low.xml.flat
build/app/intermediates/res/merged/debug/drawable_notification_bg.xml.flat
build/app/intermediates/res/merged/debug/drawable_notification_icon_background.xml.flat
build/app/intermediates/res/merged/debug/drawable_notification_tile_bg.xml.flat
build/app/intermediates/res/merged/debug/drawable-hdpi-v4_notification_bg_low_normal.9.png.flat
build/app/intermediates/res/merged/debug/drawable-hdpi-v4_notification_bg_low_pressed.9.png.flat
build/app/intermediates/res/merged/debug/drawable-hdpi-v4_notification_bg_normal_pressed.9.png.flat
build/app/intermediates/res/merged/debug/drawable-hdpi-v4_notification_bg_normal.9.png.flat
build/app/intermediates/res/merged/debug/drawable-hdpi-v4_notify_panel_notification_icon_bg.png.flat
build/app/intermediates/res/merged/debug/drawable-mdpi-v4_notification_bg_low_normal.9.png.flat
build/app/intermediates/res/merged/debug/drawable-mdpi-v4_notification_bg_low_pressed.9.png.flat
build/app/intermediates/res/merged/debug/drawable-mdpi-v4_notification_bg_normal_pressed.9.png.flat
build/app/intermediates/res/merged/debug/drawable-mdpi-v4_notification_bg_normal.9.png.flat
build/app/intermediates/res/merged/debug/drawable-mdpi-v4_notify_panel_notification_icon_bg.png.flat
build/app/intermediates/res/merged/debug/drawable-v21_notification_action_background.xml.flat
build/app/intermediates/res/merged/debug/drawable-xhdpi-v4_notification_bg_low_normal.9.png.flat
build/app/intermediates/res/merged/debug/drawable-xhdpi-v4_notification_bg_low_pressed.9.png.flat
build/app/intermediates/res/merged/debug/drawable-xhdpi-v4_notification_bg_normal_pressed.9.png.flat
build/app/intermediates/res/merged/debug/drawable-xhdpi-v4_notification_bg_normal.9.png.flat
build/app/intermediates/res/merged/debug/drawable-xhdpi-v4_notify_panel_notification_icon_bg.png.flat
build/app/intermediates/res/merged/debug/layout_custom_dialog.xml.flat
build/app/intermediates/res/merged/debug/layout_notification_action_tombstone.xml.flat
build/app/intermediates/res/merged/debug/layout_notification_action.xml.flat
build/app/intermediates/res/merged/debug/layout_notification_template_icon_group.xml.flat
build/app/intermediates/res/merged/debug/layout_notification_template_part_chronometer.xml.flat
build/app/intermediates/res/merged/debug/layout_notification_template_part_time.xml.flat
build/app/intermediates/res/merged/debug/layout-v16_notification_template_custom_big.xml.flat
build/app/intermediates/res/merged/debug/layout-v21_notification_action_tombstone.xml.flat
build/app/intermediates/res/merged/debug/layout-v21_notification_action.xml.flat
build/app/intermediates/res/merged/debug/layout-v21_notification_template_custom_big.xml.flat
build/app/intermediates/res/merged/debug/layout-v21_notification_template_icon_group.xml.flat
build/app/intermediates/res/merged/debug/values_values.arsc.flat
build/app/intermediates/res/merged/debug/values-en-rXC_values-en-rXC.arsc.flat
build/app/intermediates/res/merged/debug/values-v21_values-v21.arsc.flat
build/app/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
build/app/intermediates/symbols/debug/R.txt
build/app/kotlin/compileDebugKotlin/build-history.bin
build/app/kotlin/compileDebugKotlin/last-build.bin
build/app/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/counters.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.values.at
build/app/outputs/logs/manifest-merger-debug-report.txt
build/app/tmp/kotlin-classes/debug/META-INF/app_debug.kotlin_module
